html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

/*Id*/
#td-main-box {
    box-shadow: 1px 1px 25px 10px #eee;
    height: 100vh;
}

#td-main-bar {
    box-shadow: 1px 1px 25px 10px #eee;
    height: 75px !important;
    margin-left: -10px !important;
    margin-right: -10px;
    background-color: #fff4f4;
}

#td-main-logo {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
}

#td-task-button {
    margin-top: 20px;
    box-shadow: 1px 1px 5px 1px #bbb;
    font-weight:bold;
}

#td-task-button:hover {
    box-shadow: 1px 1px 5px 1px #aaa;
    background-color: #f4f4f4;
}

/*class*/

.td-form-input {
    background-color: #fff4f4 !important;
}